<div class="card lancer-classic clipped-bot">
  <div class="lancer-header mech_weapon collapse-trigger" data-collapse-id="{{_uuid}}-weapon">
    {{!<i class="cci cci-weapon i--m i--light"> </i>}}
    <div class="title"><span>{{title}}</span></div>
  </div>
  <div class="collapse collapsed" data-collapse-id="{{_uuid}}-weapon">
    <div class="lancer-header header-ext mech_weapon">
      <div>{{{tag-list "tags"}}}</div>
      <div>[1d6+4]</div>
    </div>
    <div class="weapon-text">
      {{#if effect}}
        <div class="card clipped">
          <div class="lancer-mini-header">{{localize "lancer.chat-card.title.effect"}}</div>

          {{#unless effect.effect_type}}
            <span class="effect-text">
              {{{effect}}}
            </span>
          {{/unless}}
        </div>
      {{/if}}
      {{#if on_attack}}
        <div class="card clipped">
          <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-effect">{{localize
              "lancer.chat-card.title.on-attack"
            }}</div>
          <span class="effect-text collapse" data-collapse-id="{{_uuid}}-effect">{{{on_attack}}}</span>
        </div>
      {{/if}}
      {{#if on_hit}}
        <div class="card clipped">
          <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-effect">{{localize
              "lancer.chat-card.title.on-hit"
            }}</div>
          <span class="effect-text collapse" data-collapse-id="{{_uuid}}-effect">{{{on_hit}}}</span>
        </div>
      {{/if}}
      {{#if on_crit}}
        <div class="card clipped">
          <div class="lancer-mini-header collapse-trigger" data-collapse-id="{{_uuid}}-effect">{{localize
              "lancer.chat-card.title.on-crit"
            }}</div>
          <span class="effect-text collapse" data-collapse-id="{{_uuid}}-effect">{{{on_crit}}}</span>
        </div>
      {{/if}}
    </div>
  </div>
</div>